# macOS system files
*.DS_Store

# Xcode build files
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
*.xcbuilddata

# Xcode user data
xcuserdata/
*.xcuserstate

# Distribution
/ProjectSutro/Distribution
ProjectSutro/build_output.txt

ProjectSutro/build_output_retry.txt
